/node_modules/

/dist/
/*.tsbuildinfo

*.log

.docker/

.env

.eslintcache

.vscode/
.idea/

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/

.DS_Store

Thumbs.db

/coverage/
